:root {
  --phthalo-green: #173018;
  --russian-green: #69976B;
  --old-burgundy: #432C2A;
  --rocket-metallic: #847371;
  --gold-metallic: #DDB60A;
  --light-text: #E5E5E5;
}

.phthalo-green-bkg {
  background-color: var(--phthalo-green);
}

.phthalo-green-text {
  color: var(--phthalo-green);
}

.russian-green-bkg {
  background-color: var(--russian-green);
}

.russian-green-text {
  color: var(--russian-green);
}

.old-burgundy-bkg {
  background-color: var(--old-burgundy);
}

.old-burgundy-text {
  color: var(--old-burgundy);
}

.rocket-metallic-bkg {
  background-color: var(--rocket-metallic);
}

.rocket-metallic-text {
  color: var(--rocket-metallic);
}

.gold-metallic-bkg {
  background-color: var(--gold-metallic);
}

.gold-metallic-text {
  color: var(--gold-metallic);
}

.light-text {
  color: var(--light-text);
}

.box-shadow {
  box-shadow: 0px 3px 8px 1px rgba(153, 153, 153, 0.2);
}
